@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.Content.cshtml";
}

@using EFModel;
@using Common.Helper;
@using Web.Models;
@model UserRelationInfo
<div class="row">
    <div class='col-sm-12'>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">用户名</label>

                <div class="col-sm-9">
                    <input type="text" id="username" placeholder="用户名" class="col-xs-10 col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">角色</label>

                <div class="col-sm-9">
                    <select class="col-xs-10 col-sm-5" id="roleid">
                        <option value=''>请选择角色</option>
                        @if (Model.rolelist != null && Model.rolelist.Count > 0)
                        {
                            foreach (var item in Model.rolelist)
                            {
                            <option value='@item.RoleID'>@item.RoleName</option>
                            }
                        }

                    </select>
                    @*  <input type="text" id="roleid" placeholder="角色" class="col-xs-10 col-sm-5" />*@
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">真实姓名</label>

                <div class="col-sm-9">
                    <input type="text" id="realname" placeholder="真实姓名" class="col-xs-10 col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">电话</label>

                <div class="col-sm-9">
                    <input type="text" id="phone" placeholder="电话" class="col-xs-10 col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">E-mail</label>

                <div class="col-sm-9">
                    <input type="text" id="email" placeholder="E-mail" class="col-xs-10 col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">部门</label>

                <div class="col-sm-9">
                    <select class="col-xs-10 col-sm-5" id="departid">
                        <option value=''>请选择部门</option>
                        @if (Model.departlist != null && Model.departlist.Count > 0)
                        {
                            foreach (var item in Model.departlist)
                            {
                            <option value='@item.DepartName'>@item.DepartCode</option>
                            }
                        }
                    </select>
                    @* <input type="text" id="email" placeholder="部门" class="col-xs-10 col-sm-5" />*@
                </div>
            </div>

            <div class="hr hr32 hr-dotted"></div>

            @*按钮*@
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="button" onclick="save()">
                        <i class="icon-ok bigger-110"></i>
                        保存
                    </button>
                    &nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
                                                <i class="icon-undo bigger-110"></i>
                                                重置
                                            </button>
                    &nbsp; &nbsp; &nbsp;
            <button class="btn btn-danger" type="button" onclick="back()">
                <i class="icon-reply bigger-110"></i>
                返回
            </button>

                </div>
            </div>
            @*            <div class="hr hr-24"></div>*@
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.ReloadIframe("rightMain");

        //$.getJSON("../../UserInfo/GetGameList", null, function (data) {
        //    $.each(data, function (i, item) {
        //        $("#gameName").append("<option value='" + item.value + "'>" + item.text + "</option>");
        //    });
        //});
    });

    function back() {
        $.returnBack("../UserInfo/Index");
    }

    function save() {
        //非空验证
        if ($.inputValiNull($("#rolename"), "提示", "请输入角色名称")) {
            return;
        }

        debugger;
        if ($.checknoone($(".perckb"), "提示", "请至少选择一个权限")) {
            return;
        }

        //if ($.inputValiNull($("#starttime"), "提示", "请选择游戏运行起始时间")) {
        //    return;
        //}

        //if ($.inputValiNull($("#endtime"), "提示", "请选择游戏运行结束时间")) {
        //    return;
        //}

        //权限列表
        var postData = {};
        postData["RoleName"] = $("#rolename").val();
        var ids = "";
        $(".perckb").each(function () {
            if ($(this).prop("checked")) {
                ids = ids + $(this).val() + ',';
            }
        });
        postData["PermissionIDs"] = ids;

        //postData["GameStartTime"] = $("#starttime").val();
        //postData["GameEndTime"] = $("#endtime").val();

        $.ajax({
            type: 'post',//可选get  
            url: '../../UserInfo/Add',
            data: JSON.stringify(postData),
            contentType: "application/json", //必须有 
            dataType: 'json',//服务器返回的数据类型 可选XML ,Json jsonp script htmltext等  
            success: function (result) {
                if (result.success) {
                    $.tips("保存成功", result.success, "../UserInfo/Index");
                }
                else {
                    $.tips("保存失败，失败原因:" + result.msg + "", result.success, "../UserInfo/Index");
                }
            },
            error: function () {
            }
        });
    }
</script>
