@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.Content.cshtml";
}

@using EFModel;
@using Common.Helper;

<div class="row">
    <div class='col-sm-12'>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">游戏</label>
                <div class="col-sm-9">
                    <select class="col-xs-10 col-sm-5" id="gamename">
                    </select>
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">奖品</label>

                <div class="col-sm-9">
                    <select class="col-xs-10 col-sm-5" id="awardname">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">领奖条件≥</label>

                <div class="col-sm-9">
                    <input type="text" id="limitedscore" placeholder="领奖条件" class="col-xs-10 col-sm-5" /><span>分</span>
                </div>
            </div>

            <div class="hr hr32 hr-dotted"></div>


            @*按钮*@
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="button" onclick="save()">
                        <i class="icon-ok bigger-110"></i>
                        保存
                    </button>
                    &nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
                                                <i class="icon-undo bigger-110"></i>
                                                重置
                                            </button>
                    &nbsp; &nbsp; &nbsp;
            <button class="btn btn-danger" type="button" onclick="back()">
                <i class="icon-reply bigger-110"></i>
                返回
            </button>

                </div>
            </div>
            <div class="hr hr-24"></div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.ReloadIframe("rightMain");

        $.getJSON("../../GameRecord/GetGameList", null, function (data) {
            $.each(data, function (i, item) {
                $("#gamename").append("<option value='" + item.value + "'>" + item.text + "</option>");
            });
        });
        $.getJSON("../../GameAward/GetAwardList", null, function (data) {
            $.each(data, function (i, item) {
                $("#awardname").append("<option value='" + item.value + "'>" + item.text + "</option>");
            });
        });
    });

    function back() {
        $.returnBack("../AwardConfig/Index");
    }

    function save() {
        //非空验证    
        if ($.inputValiNull($("#gamename"), "提示", "请选择游戏")) {
            return;
        }

        if ($.inputValiNull($("#awardname"), "提示", "请选择奖品")) {
            return;
        }

        if ($.inputValiNull($("#limitedscore"), "提示", "请输入领奖条件")) {
            return;
        }

        //权限列表
        var postData = {};
        postData["Gameid"] = $("#gamename").val();
        postData["AwardCode"] = $("#awardname").val();
        postData["GameSoreEdge"] = $("#limitedscore").val();

        $.ajax({
            type: 'post',//可选get  
            url: '../../AwardConfig/Add',
            data: JSON.stringify(postData),
            contentType: "application/json", //必须有 
            dataType: 'json',//服务器返回的数据类型 可选XML ,Json jsonp script htmltext等  
            success: function (result) {
                if (result.success) {
                    $.tips("保存成功", result.success, "../AwardConfig/Index");
                }
                else {
                    $.tips("保存失败，失败原因:" + result.msg + "", result.success, "../AwardConfig/Index");
                }
            },
            error: function () {

            }
        });
    }
</script>
