<script type="text/html" id="handleBtn" value="">
    <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
        <a class="blue" data-type="view" href="#">
            <i class="icon-zoom-in bigger-130"></i>
        </a>

        <a class="green" data-type="edit" href="#">
            <i class="icon-pencil bigger-130"></i>
        </a>

        <a class="red" data-type="delete" href="#">
            <i class="icon-trash bigger-130"></i>
        </a>
    </div>

    <div class="visible-xs visible-sm hidden-md hidden-lg">
        <div class="inline position-relative">
            <button class="btn btn-minier btn-yellow dropdown-toggle"
                data-toggle="dropdown">
                <i class="icon-caret-down icon-only bigger-120"></i>
            </button>

            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                <li>
                    <a href="#" class="tooltip-info" data-type="view" data-rel="tooltip"
                        title="View">
                        <span class="blue">
                            <i class="icon-zoom-in bigger-120"></i>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="tooltip-success" data-type="edit" data-rel="tooltip"
                        title="Edit">
                        <span class="green">
                            <i class="icon-edit bigger-120"></i>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="tooltip-error" data-type="delete" data-rel="tooltip"
                        title="Delete">
                        <span class="red">
                            <i class="icon-trash bigger-120"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</script>